body {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  .active-link {
    font-weight: bold;
    color: #ff4800ea !important; /* Primary color */
    border-bottom: 2px solid #ff1100; /* Underline */
  }
  
  .active-link:hover {
    color: #ff4800ea !important; /* Darker hover color */
  }
  