.product-list-container {
    padding: 20px;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .product-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .product-name {
    margin: 12px 0 8px;
    font-size: 1.2em;
  }
  
  .product-price {
    color: #302f2f;
    margin-bottom: 16px;
  }
  
  .view-details-link {
    text-decoration: none;
    color: #fff;
    background-color: rgb(255, 70, 14);
    padding: 10px 20px;
    border-radius: 4px;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  
  .view-details-link:hover {
    background-color: rgb(255, 70, 14);
    transform: translateY(4px);
  }
  
  .controls {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
    align-items: center;
  }
  
  .controls label {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 0.95rem;
  }
  
  .controls select {
    margin-top: 0.4rem;
    padding: 0.3rem 0.5rem;
  }
  
   .pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
}

.pagination-btn {
  padding: 0.5rem 1rem;
  background-color: #ff4500;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.pagination-btn:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.pagination-btn:hover:not(:disabled) {
  background-color: #ff6347;
}